.resizeimage img { width: 100vw; }
	
.underline {
	border-bottom: 3px solid #000;
	padding-bottom: 0.5rem;
}

.resizeimage img { width: 100vw; }

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.row01 {
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row02 {
    animation-delay: 1.1s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row03 {
    animation-delay: 1.2s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row04 {
    animation-delay: 1.3s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row05 {
    animation-delay: 1.4s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row06 {
    animation-delay: 1.5s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row07 {
    animation-delay: 1.6s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row08 {
    animation-delay: 1.7s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row09 {
    animation-delay: 1.8s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.row10 {
    animation-delay: 1.9s;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}
.col {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}
