.resizeimage img { width: 100vw; }
	
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 15px 0 15px 2em;
  text-align: left;
}

table tr:nth-child(odd){
  background-color: #eee
}

.resizeimage img { width: 100vw; }

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 1s;}
.txt03 {animation-delay: 2s;}
.txt04 {animation-delay: 3s;}
.txt05 {animation-delay: 4s;}
.txt06 {animation-delay: 5s;}
.txt07 {animation-delay: 6s;}
.txt08 {animation-delay: 7s;}
.txt09 {animation-delay: 8s;}
.txt10 {animation-delay: 9s;}
